<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GMIT - Blog</title>

    <style type="text/css">
        body {
            padding-top: 70px;
        }

    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="/">GMIT - Posts</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">All Posts</a></li>
                {% if session['email']==None %}
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Sign Up</a></li>
                {% else %}
                <li><a href="/logout">Log Out</a></li>
                {% endif %}

                {% if session['email'] != None %}
                <li><a href="/posts">Posts - {{ session['email'] }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    {% block home %}

    {% endblock %}

    {% block content %}

    {% endblock %}
</div>
</body>
</html>