<!-- this page will be inserted into the base html page by using
   Jinja2 please ref=> http://flask.pocoo.org/docs/0.11/templating/#jinja-setup-->
{% extends "base.html" %}
{% block content %}
<div class="container">

    <div>
    <a class="btn btn-primary" role="button" href="/postsnew">New Post {{ name }}</a>
    </div>
    <br>
    {% for posts in posts%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">{{ posts.title }}</h1>
        </div>
        <div class="panel-body">{{ posts.description }}
            <h6 align="right">{{ posts.authorName }} - {{ posts.author }}</h6>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}